{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Fill the Gaps Task</h1>
  <form method="POST">
    {% for form in forms %}
      <div class="card mb-4">
        <div class="card-body">
          <p>{{ form.sentence_start.data }} {{ form.answer(class_="form-control") }} {{ form.sentence_end.data }}</p>
        </div>
      </div>
    {% endfor %}
    <div class="text-center">
      <button type="submit" class="btn btn-primary mb-4">Submit answers</button>
    </div>
  </form>
</div>
{% endblock %}