{% extends "base.html" %}

{% block content %}
  <h1>{{ current_user.username }}'s word groups</h1>
  {% for group in word_groups %}
    <div class="word-group">
<!--      <h2>{{ group.name }}</h2>-->
        <p>group: </p>
      <div>
        {% for word_def in group.word_defineds %}
          <p>word: {{word_def.definition.word}}</p>
          <p>part_of_speech: {{word_def.definition.part_of_speech}}</p>
          <p>definition: {{word_def.definition.text}}</p>
        {% endfor %}
      </div>
        <p>from: {{ group.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    </div>
  {% endfor %}
{% endblock %}