{% extends "base.html" %}

{% block content %}
  <h1>{{ current_user.username }}'s word groups</h1>
  {% for group in word_groups %}
    <div class="word-group">
<!--      <h2>{{ group.name }}</h2>-->
        <p><b>group: </b></p>
        <p>----------------------------------------------------------------------------------------</p>
      <div>
        {% for definition in group.words_definitions %}
          <p>*****</p>
          <p>word: {{definition.word_text}}</p>
          <p>part_of_speech: {{definition.part_of_speech}}</p>
          <p>definition: {{definition.text}}</p>
          <p>*****</p>
        {% endfor %}
          <p>----------------------------------------------------------------------------------------</p>
      </div>
        <p>from: {{ group.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    </div>
  {% endfor %}
{% endblock %}